./my_riscv/sim/work                                                                      
./my_riscv/sim/novas_dump.log
./my_riscv/sim/tr_db.log
./my_riscv/sim/ucli.key

./verif_env/sim/work
./verif_env/sim/novas_dump.log
./verif_env/sim/tr_db.log
./verif_env/sim/ucli.key